section.sangsang-sidebar
	nav
		ul
			li
				a(href="#" data-toggle="tooltip" data-placement="right" title="Bảng điều khiển")
					i.mdi.mdi-tune-vertical
			li
				a(href="#" data-toggle="tooltip" data-placement="right" title="Thêm task")
					i.mdi.mdi-alarm-plus
			li
				a(href="#" data-toggle="tooltip" data-placement="right" title="Danh sách nhân viên")
					i.mdi.mdi-account
			li
				a(href="#" data-toggle="tooltip" data-placement="right" title="Tùy chỉnh")
					i.mdi.mdi-settings
			li
				a(href="#" data-toggle="tooltip" data-placement="right" title="Đã lưu")
					i.mdi.mdi-floppy
			li
				a(href="#" data-toggle="tooltip" data-placement="right" title="Hướng dẫn")
					i.mdi.mdi-comment-question
