section.sangsang-sidebar
	nav
		ul
			li
				a(href="/" data-tippy="Bảng điều khiển"  data-tippy-arrow="true" data-tippy-animation="shift-toward")
					i.mdi.mdi-tune-vertical
			li
				a(href="/addtask" data-tippy="Thêm task" data-tippy-arrow="true" data-tippy-animation="shift-toward")
					i.mdi.mdi-alarm-plus
			li
				a(href="/users" data-tippy="Danh sách nhân viên" data-tippy-arrow="true" data-tippy-animation="shift-toward")
					i.mdi.mdi-account
			li
				a(href="/settings" data-tippy="Tùy chỉnh" data-tippy-arrow="true" data-tippy-animation="shift-toward")
					i.mdi.mdi-settings
			li
				a(href="/archivetask" data-tippy="Đã lưu" data-tippy-arrow="true")
					i.mdi.mdi-floppy
			li
				a(href="/document" data-tippy="Hướng dẫn" data-tippy-arrow="true" data-tippy-animation="shift-toward")
					i.mdi.mdi-comment-question
