extends _layout/layout

block content
	section.board__control
		.container-fluid
			.row
				.col-lg-4.board__control--item.board__control--task
					.card.card--grey
						.card__header.card__header--grey.waves-light
							.card__title
								h2 Nhiệm vụ
							.card__refresh
								button.card__btn(type="submit")
									i.mdi.mdi-restore
						.card__body
							.c__block#taskTask
								.block__item.block__item--normal
									.block__line
									.block__content.block__content--hasfile
										.block__note
											.block__title
												a(href="#")
													h3 K-DB-5: 
														span Oke
											.block__des Lorem
										.block__action
											.block__file
												a(href="#") Xem file
											.block__btn--collapse
												button(type="button")
													i.mdi.mdi-chevron-down
											.block__btn--moveTask
												button(type="button")
													i.mdi.mdi-chevron-right
									.block__collapse
										.block__detail
											hr
											.row
												.col
													i.mdi.mdi-briefcase
													| Chua xac dinh
												.col-auto
													span 3h
												.col-auto
													span Chua xac dinh
											hr  
										.block__create
											.row
												.col
													i.mdi.mdi-account
													a(href="#") Ngoc Sang
												.col-auto
													span.creat__day 6 months ago
											hr
											.row
												.col
													i.mdi.mdi-pen
													a(href="#") Anh dao
												.col-auto
													span.creat__day 6 months ago
								.block__item.block__item--low
									.block__line
									.block__content.block__content--hasfile
										.block__note
											.block__title
												a(href="#")
													h3 K-DB-5: 
														span Oke
											.block__des Lorem
										.block__action
											.block__file
												a(href="#") Xem file
											.block__btn--collapse
												button(type="button")
													i.mdi.mdi-chevron-down
											.block__btn--moveTask
												button(type="button")
													i.mdi.mdi-chevron-right
									.block__collapse
										.block__detail
											hr
											.row
												.col
													i.mdi.mdi-briefcase
													| Chua xac dinh
												.col-auto
													span 3h
												.col-auto
													span Chua xac dinh
											hr  
										.block__create
											.row
												.col
													i.mdi.mdi-account
													a(href="#") Ngoc Sang
												.col-auto
													span.creat__day 6 months ago
											hr
											.row
												.col
													i.mdi.mdi-pen
													a(href="#") Anh dao
												.col-auto
													span.creat__day 6 months ago
								.block__item.block__item--medium
									.block__line
									.block__content.block__content--hasfile
										.block__note
											.block__title
												a(href="#")
													h3 K-DB-5: 
														span Oke
											.block__des Lorem
										.block__action
											.block__file
												a(href="#") Xem file
											.block__btn--collapse
												button(type="button")
													i.mdi.mdi-chevron-down
											.block__btn--moveTask
												button(type="button")
													i.mdi.mdi-chevron-right
									.block__collapse
										.block__detail
											hr
											.row
												.col
													i.mdi.mdi-briefcase
													| Chua xac dinh
												.col-auto
													span 3h
												.col-auto
													span Chua xac dinh
											hr  
										.block__create
											.row
												.col
													i.mdi.mdi-account
													a(href="#") Ngoc Sang
												.col-auto
													span.creat__day 6 months ago
											hr
											.row
												.col
													i.mdi.mdi-pen
													a(href="#") Anh dao
												.col-auto
													span.creat__day 6 months ago
				.col-lg-4.board__control--item.board__control--progress
					.card.card--blue
						.card__header.card__header--blue.waves-light
							.card__title
								h2 Đang thực hiện
							.card__refresh
								button.card__btn(type="submit")
									i.mdi.mdi-restore
						.card__body
							.c__block#taskProgress
								.block__item.block__item--danger
									.block__line
									.block__content.block__content--hasfile
										.block__note
											.block__title
												a(href="#")
													h3 K-DB-5: 
														span Oke
											.block__des Lorem
										.block__action
											.block__file
												a(href="#") Xem file
											.block__btn--collapse
												button(type="button")
													i.mdi.mdi-chevron-down
											.block__btn--moveTask
												button(type="button")
													i.mdi.mdi-chevron-right
									.block__collapse
										.block__detail
											hr
											.row
												.col
													i.mdi.mdi-briefcase
													| Chua xac dinh
												.col-auto
													span 3h
												.col-auto
													span Chua xac dinh
											hr  
										.block__create
											.row
												.col
													i.mdi.mdi-account
													a(href="#") Ngoc Sang
												.col-auto
													span.creat__day 6 months ago
											hr
											.row
												.col
													i.mdi.mdi-pen
													a(href="#") Anh dao
												.col-auto
													span.creat__day 6 months ago
								.block__item.block__item--normal
									.block__line
									.block__content.block__content--hasfile
										.block__note
											.block__title
												a(href="#")
													h3 K-DB-5: 
														span Oke
											.block__des Lorem
										.block__action
											.block__file
												a(href="#") Xem file
											.block__btn--collapse
												button(type="button")
													i.mdi.mdi-chevron-down
											.block__btn--moveTask
												button(type="button")
													i.mdi.mdi-chevron-right
									.block__collapse
										.block__detail
											hr
											.row
												.col
													i.mdi.mdi-briefcase
													| Chua xac dinh
												.col-auto
													span 3h
												.col-auto
													span Chua xac dinh
											hr  
										.block__create
											.row
												.col
													i.mdi.mdi-account
													a(href="#") Ngoc Sang
												.col-auto
													span.creat__day 6 months ago
											hr
											.row
												.col
													i.mdi.mdi-pen
													a(href="#") Anh dao
												.col-auto
													span.creat__day 6 months ago
								.block__item.block__item--low
									.block__line
									.block__content.block__content--hasfile
										.block__note
											.block__title
												a(href="#")
													h3 K-DB-5: 
														span Oke
											.block__des Lorem
										.block__action
											.block__file
												a(href="#") Xem file
											.block__btn--collapse
												button(type="button")
													i.mdi.mdi-chevron-down
											.block__btn--moveTask
												button(type="button")
													i.mdi.mdi-chevron-right
									.block__collapse
										.block__detail
											hr
											.row
												.col
													i.mdi.mdi-briefcase
													| Chua xac dinh
												.col-auto
													span 3h
												.col-auto
													span Chua xac dinh
											hr  
										.block__create
											.row
												.col
													i.mdi.mdi-account
													a(href="#") Ngoc Sang
												.col-auto
													span.creat__day 6 months ago
											hr
											.row
												.col
													i.mdi.mdi-pen
													a(href="#") Anh dao
												.col-auto
													span.creat__day 6 months ago
								.block__item.block__item--medium
									.block__line
									.block__content.block__content--hasfile
										.block__note
											.block__title
												a(href="#")
													h3 K-DB-5: 
														span Oke
											.block__des Lorem
										.block__action
											.block__file
												a(href="#") Xem file
											.block__btn--collapse
												button(type="button")
													i.mdi.mdi-chevron-down
											.block__btn--moveTask
												button(type="button")
													i.mdi.mdi-chevron-right
									.block__collapse
										.block__detail
											hr
											.row
												.col
													i.mdi.mdi-briefcase
													| Chua xac dinh
												.col-auto
													span 3h
												.col-auto
													span Chua xac dinh
											hr  
										.block__create
											.row
												.col
													i.mdi.mdi-account
													a(href="#") Ngoc Sang
												.col-auto
													span.creat__day 6 months ago
											hr
											.row
												.col
													i.mdi.mdi-pen
													a(href="#") Anh dao
												.col-auto
													span.creat__day 6 months ago
								
				.col-lg-4.board__control--item.board__control--finish
					.card.card--green
						.card__header.card__header--green.waves-light
							.card__title
								h2 Hoàn thành
							.card__refresh
								button.card__btn(type="submit")
									i.mdi.mdi-restore
						.card__body
							.c__block#taskFinish
								- for(var x = 1; x < 5 ; x++)
									include ./_components/task_block
