extends _layout/layout

block content
	section.board__control
		.container-fluid
			.row
				.col-lg-4.board__control--item.board__control--task
					.card.card--grey
						.card__header.card__header--grey.waves-light
							.card__title
								h2 Nhiệm vụ
							.card__refresh
								button.card__btn(type="submit")
									i.mdi.mdi-restore
						.card__body
							.c__block
								- for(var x = 1; x < 5 ; x++)
									include ./_components/task_block
				.col-lg-4.board__control--item.board__control--progress
					.card.card--blue
						.card__header.card__header--blue.waves-light
							.card__title
								h2 Đang thực hiện
							.card__refresh
								button.card__btn(type="submit")
									i.mdi.mdi-restore
						.card__body
							- for(var x = 1; x < 5 ; x++)
								include ./_components/task_block
				.col-lg-4.board__control--item.board__control--finish
					.card.card--green
						.card__header.card__header--green.waves-light
							.card__title
								h2 Hoàn thành
							.card__refresh
								button.card__btn(type="submit")
									i.mdi.mdi-restore
						.card__body
							- for(var x = 1; x < 5 ; x++)
								include ./_components/task_block
