extends _layout/layout

block content
	.container
		//- form(action="/check", method="POST")
		//- 	fieldset
		//- 		input.form-control.mb-3(type="text", name="usersname")
		//- 		input.form-control(type="password", name="password")
		//- 		button.btn.btn-warning.mt-3(type="submit") Gửi